---
BasedOnStyle: Google
AccessModifierOffset: '-3'
IndentAccessModifiers: 'false'
AlignTrailingComments: 'true'
AlwaysBreakTemplateDeclarations: MultiLine
BinPackArguments: 'false'
BreakConstructorInitializers: AfterColon
BreakStringLiterals: 'true'
IndentWidth: '4'
Standard: Cpp11
TabWidth: '4'
UseTab: Never

# Disable include sorting to avoid conflicts with cpplint
SortIncludes: Never

...
